aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.11.1
certifi==2022.6.15
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.0
decorator==5.1.1
discord.py==1.7.3
idna==3.3
lyricsgenius==3.0.1
multidict==6.0.2
opuslib==3.0.1
pycparser==2.21
PyNaCl==1.4.0
pypresence==4.2.1
python-dotenv==0.20.0
regex==2022.6.2
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
typing_extensions==4.3.0
urllib3==1.26.9
validators==0.20.0
yarl==1.7.2
youtube-dl==2021.12.17
